@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #00292b;
  --primary-color-dark: #001111;
  --secondary-color: #c58255;
  --white: #ffffff;
  --brick-red: #8b3a3a;
  --rust-red: #9b4a3c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-image: linear-gradient(
    to right,
    var(--primary-color-dark),
    var(--primary-color)
  );
}

nav {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  min-height: 85px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}

.dropdown {
  position: relative;
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;

  background-color: #111;
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;

  min-width: 200px;
  border-radius: 8px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.25s ease;
}

.dropdown:hover .dropdown__menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown__menu li a {
  display: block;
  padding: 0.7rem 1.2rem;
  color: white;
  text-decoration: none;
  transition: background 0.2s;
}

.dropdown__menu li a:hover {
  background-color: var(--secondary-color);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.link a {
  padding: 1rem;
  padding-top: 2rem;
  color: var(--white);
  text-decoration: none;
  transition: 0.3s;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.link a:hover {
  background-color: var(--secondary-color);
}

.container {
  min-height: 100vh;
  display: flex;
}

.container__left {
  flex: 1;
  background-image: url(green-gradient.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.left__content {
  margin: 5rem 3rem 0 auto;
  padding: 1rem;
  max-width: 400px;
  text-align: right;
}

.left__content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.left__content p {
  color: var(--primary-color);
}

.container__right {
  flex: 1.5;
  position: relative;
}

/* .container__right img {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
  width: 100%;
  max-width: 450px;
} */

.container__right img {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-45%);
  width: 100%;
  max-width: 450px;
}

.right__content {
  text-align: right;
  max-width: 600px;
  margin-left: 8rem;
  margin-top: 8rem;
  padding: 2rem;
}

.right__content h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  color: var(--secondary-color);
}

.right__content h4 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
}

.right__content p {
  margin-bottom: 3rem;
  color: var(--white);
}

.btn {
  margin-bottom: 3rem;
  min-width: 120px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
}

.primary__btn {
  margin-right: 1rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.secondary__btn {
  color: var(--secondary-color);
  background-color: transparent;
}

@media (width<780px) {
  nav {
    justify-content: center;
  }

  .nav__links {
    gap: 1rem;
  }

  .container {
    flex-direction: column;
  }

  .container__left {
    min-height: 700px;
  }

  .left__content {
    max-width: none;
    margin: 6rem 0;
    text-align: center;
  }

  .container__right {
    min-height: 700px;
  }

  /* .container__right img {
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
  } */

  .container__right img {
    left: 50%;
    top: 0;
    transform: translate(-50%, -75%);
  }

  .right__content {
    text-align: center;
    margin: 8rem auto;
  }
}
